= form_for :team, :url => { :action => "create" } do |f|
  %p.form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  %p.form-group
    = f.label :tag
    = f.text_field :tag, class: "form-control"

  %p.form-group
    = f.submit "Create Team", class: "btn btn-default"