.main-banner
  .main-banner-film

.container
  .content
    %h3 Teams
    = link_to "New Team", new_team_path

    .dark
      %table
        %tr
          %th Team Name
          %th Members
          %th Tournaments
        - @teams.each do |team|
          %tr
            %td= link_to team.name, team_path(team)
            %td= team.users.count
            %td= team.tournaments.count
              
      = pluralize(@teams.count, "team")

  