.main-banner
  .main-banner-film

.container
  .content
    .dark
      %a= link_to "All Teams", teams_path

    %h1= @team.name

    %h3.panel-title
      Members

    - if @team.users.empty?
      No members
    - else
      %table.table.table-condensed.table-striped.table-hover
        %tr
          %th Name
          %th Email
        - @team.users.each do |member|
          %tr
            %td
              = @team.tag
              = link_to member.name, user_path(member)
            %td
              = member.email
