.main-banner
  .main-banner-film

.container
  .content
    .dark
      %a= link_to "All Teams", teams_path

      %h1
        = @team.name

      %h3 Rosters

      - if not @team.rosters.empty?
        - @team.rosters.each_with_index do |roster, index|
          %table.tile.half{ class: index % 2 == 0 ? "left" : "right" }
            %caption
              = link_to "#{roster.tournament.league.name} - #{roster.tournament.name}", tournament_path(roster.tournament)
              - if policy(roster).join?
                .btn.btn-primary.right
                  = link_to "Join", team_roster_join_path(@team, roster)
              .clear

            - if not roster.users.empty?
              %tr
                %th Member
                %th Roster Role
                - if policy(roster).remove_user? or current_user.is_member_of? roster
                  %th Admin

              - roster.users.each do |user|
                %tr
                  %td= link_to user.name, user_path(user)
                  %td
                    = user.role_for(roster).humanize.titleize unless user.role_for(roster).nil?
                  - if policy(roster).remove_user? or user == current_user
                    %td
                      -if user != current_user and policy(roster).remove_user?
                        = link_to "Remove", team_remove_user_path(@team, roster, user), data: { confirm: "Remove user #{user.name} from the team?" }
                      -if user == current_user
                        = link_to "Leave", team_remove_user_path(@team, roster, user), data: { confirm: "Leave this roster?" }

            - else
              %tr
                %td No members on this roster

        .clear

      - else
        No rosters


      %h3 Latest Matches
      - if @team.matches.empty?
        No previous matches
      - else
        %table
          %tr
            %th Opponent
            %th Result
            %th Tournament
            %th League
            %th Date
            %th Role
          - @team.matches.order('match_date DESC').each do |match|
            %tr
              %td= link_to @team.opponent_for(match).name, team_path(@team.opponent_for(match))
              %td Result
              %td= link_to match.tournament.name, tournament_path(match.tournament)
              %td= link_to match.tournament.league.name, league_path(match.tournament.league)
              %td= match.match_date
              %td= @team.role_for(match)