.main-banner
  .main-banner-film

.container
  .content
    .dark
      %a= link_to "All Teams", teams_path

      %h1= @team.name

      %h2 Rosters

      - if @team.rosters.empty?
        No rosters
      - else
        %table
          %tr
            %th Tournament
            %th Members
          - @team.rosters.each do |roster|
            %tr
              %td= roster.tournament.name
              %td= roster.users.count

              -#   - if policy(@team).remove_user?
              -#     = link_to "Remove", team_user_remove_path(@team, member), data: { confirm: "Remove user #{member.name} from the team?" }

      -# %h2 Tournaments
      -# - if @team.tournaments.empty?
      -#   No tournaments
      -# - else
      -#   %table
      -#     %tr
      -#       %th Tournament
      -#       %th League
      -#     - @team.tournaments.each do |tournament|
      -#       %tr
      -#         %td= link_to tournament.name, tournament_path(tournament)
      -#         %td= link_to tournament.league.name, league_path(tournament.league)
      
      %h2 Latest Matches
      - if @team.matches.empty?
        No previous matches
      - else
        %table
          %tr
            %th Opponent
            %th Result
            %th Tournament
            %th League
            %th Date
            %th Role
          - @team.matches.order('match_date DESC').each do |match|
            %tr
              %td= link_to @team.opponent_for(match).name, team_path(@team.opponent_for(match))
              %td Result
              %td= link_to match.tournament.name, tournament_path(match.tournament)
              %td= link_to match.tournament.league.name, league_path(match.tournament.league)
              %td= match.match_date
              %td= @team.role_for(match)