.main-banner
  .main-banner-film

.container
  .content
    .dark
      %a= link_to "All Teams", teams_path

      %h1= @team.name

      %h2 Rosters

      - if @team.rosters.empty?
        No rosters
      - else
        %table
          - @team.rosters.each do |roster|
            %h4.left= link_to roster.tournament.name, tournament_path(roster.tournament)

            .heading.btn.btn-primary.right Join
            .clear

            - if roster.users.empty?
              No members on this roster
            - else
              %tr
                %th Member
                %th Email
                %th Roster Role
                - if policy(roster).remove_user?
                  %th 
              - roster.users.each do |user|
                %tr
                  %td= link_to user.name, user_path(user)
                  %td= user.email
                  %td
                    = user.role_for(roster).humanize.titleize unless user.role_for(roster).nil?
                  - if policy(roster).remove_user?
                    %td
                      -if user != current_user
                        = link_to "Remove", team_remove_user_path(@team, roster, user), data: { confirm: "Remove user #{user.name} from the team?" }


      %h2 Latest Matches
      - if @team.matches.empty?
        No previous matches
      - else
        %table
          %tr
            %th Opponent
            %th Result
            %th Tournament
            %th League
            %th Date
            %th Role
          - @team.matches.order('match_date DESC').each do |match|
            %tr
              %td= link_to @team.opponent_for(match).name, team_path(@team.opponent_for(match))
              %td Result
              %td= link_to match.tournament.name, tournament_path(match.tournament)
              %td= link_to match.tournament.league.name, league_path(match.tournament.league)
              %td= match.match_date
              %td= @team.role_for(match)