.main-banner
  .main-banner-film

.container
  .content

    %h2= @user.name
    = @user.email
    = @user.role

    - if policy(@user).edit?
      .dark
        %p= link_to "Change Personal Info & Password", edit_user_registration_path if @user == current_user
        - if current_user.admin?
          %p= link_to "User Administration", edit_user_path(@user)