.main-banner
  .main-banner-film

.container
  .content
  
    .dark
      %p#notice= notice

      %p
        %strong Enabled:
        = @tournament.enabled?

      %p
        %strong Name:
        = @tournament.name
      %p
        %strong Tournament type:
        = @tournament.tournament_type.humanize.titleize
      %p
        %strong Team size:
        = @tournament.team_size
      %p
        %strong League:
        = @tournament.league.name
      = link_to 'Edit', edit_tournament_path(@tournament)
      |
      \#{link_to 'Back', tournaments_path}

    .dark
      %h2
        = @tournament.name
        Standings
      - if @tournament.tournament_team_standings.empty?
        No tournament standings.
      - else
        %table
          %tr
            %th Rank
            %th Team Name
            %th Points
            %th
          - @tournament.tournament_team_standings.order('points DESC').each_with_index do |standing, index|
            %tr
              %td= index + 1
              %td= standing.team.name
              %td= standing.points
              %td= "Challenge" unless current_user.is_member_of?(standing.team)

                  
