.main-banner
  .main-banner-film

.container
  .content

    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title Log in
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .panel-body
            .form-group
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, class: "form-control", placeholder: "email@address.com"
            .form-group
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off", class: "form-control"
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :remember_me
          .panel-footer
            .pull-right
              = f.submit "Log in", class: "btn btn-primary"
            .pull-left
              = render "devise/shared/links"
        .clearfix