%footer.main-footer
  .main-footer-film
    .container
      %h1
        %span The
        League
      .col
        %ul
          %li= link_to "Leagues", "#"
          %li= link_to "Teams", "#"
          %li= link_to "Leaderboards", "#"
          %li= link_to "Latest Matches", "#"
          %li= link_to "Upcoming Matches", "#"
          %li= link_to "Popular Teams", "#"

      .col
        %ul
          %li= link_to "API", "#"
          %li= link_to "Help & Support", "#"
          %li= link_to "Report Cheating", "#"
          %li= link_to "Contact", "#"
          %li= link_to "Apply for Staff", "#"
          %li= link_to "Bans", "#"