.top-bar
  .container
    .logo
      = link_to image_tag('logo2.png'), root_path
    %nav.main-nav
      %ul
        %li= link_to "Leagues", leagues_path
        - if user_signed_in?
          %li= link_to current_user.name, user_path(current_user)
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Sign In", new_user_session_path