!!!5
%html
%head
  %title Ladder
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .background.primary-two-bg
    .dot
    // = video_tag("bgvideoa.mp4", :autoplay => true, :loop => true)
  %nav.navbar.navbar-inverse
    .container
      .navbar-brand= link_to "Ladder", root_path, class: "logo neutral-three-text"
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Leagues", leagues_path
        - if user_signed_in?
          %li= link_to current_user.name, user_path(current_user)
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Sign In", new_user_session_path 
  
  
  - flash.each do |name, msg|
    = content_tag :div, msg, class: 'alert alert-info'
  = yield