!!!5
%html
%head
  %title Ladder
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body

  = render "layouts/header"

  - flash.each do |name, msg|
    .main-alert-spot
      = content_tag :div, msg, class: "alert"

  = yield

  = render "layouts/footer"
  
  